<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.TraTuDien"
        tools:targetApi="31">
        <activity android:name=".ui.SplashScreen"
            android:theme="@style/Theme.TraTuDien.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.HistoryTestActivity"
            android:parentActivityName=".ui.MainActivity">
        </activity>
        <activity
            android:name=".ui.HistoryActivity"
            android:parentActivityName=".ui.HistoryTestActivity"
            android:theme="@style/Theme.TraTuDien.NoActionBar"
            />
        <activity
            android:name=".ui.GrammarListActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.GrammarActivity"
            android:parentActivityName=".ui.GrammarListActivity" />
        <activity
            android:name=".ui.QuestionActivity"
            android:theme="@style/Theme.TraTuDien.NoActionBar" />
        <activity
            android:name=".ui.SearchActivity"
            />
        <activity android:name=".ui.SearchDictionaryAtivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.TraTuDien.NoActionBar"
            />
        <activity
            android:name=".ui.NoteActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.NoteEditActivity"
            android:parentActivityName=".ui.NoteActivity" />
        <activity
            android:name=".ui.NoteAddActivity"
            android:parentActivityName=".ui.NoteActivity" />
        <activity
            android:name=".ui.SettingActivity"
            android:parentActivityName=".ui.MainActivity" />
    </application>
</manifest>